
:root {
    --bg-primary: #0A0A0A;
    --bg-secondary: #111111;
    --nurb-red: #DD0000;
    --racing-yellow: #FFCC00;
    --text-light: #FFFFFF;
    --text-muted: #c8c7c7;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-muted);
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}

.title-font { 
    font-family: 'Poppins', sans-serif; 
}

p { 
    line-height: 1.8; color: var(--text-light); 
}


.text-red { 
    color: var(--nurb-red) !important; 
}

.text-footed{
    color: var(--text-muted);
}

.text-yellow { 
    color: var(--racing-yellow) !important;
 }

.bg-primary-dark { 
    background-color: var(--bg-primary); 
}

.bg-secondary-dark { 
    background-color: var(--bg-secondary); 
}

.section-padding { 
    padding: 6rem 0; 
}

/* NAVBAR */

.icon-card {
    font-size: 2.5rem;
}

html {
    scroll-behavior: smooth;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.blur-nav {
    background: rgba(10,10,10,.85);
    backdrop-filter: blur(10px);
    z-index: 9999;
}

.navbar-brand {
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: var(--racing-yellow) !important;
}


.nav-link { 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    color: var(--text-light) !important; 
}

.nav-link:hover { 
    color: var(--racing-yellow) !important; 
}

.btn-contato {
     border: 1px solid var(--racing-yellow); 
     border-radius: 4px; 
     padding: 0.4rem 1rem !important; 
    }

/* HERO SECTION COM EFEITO (Tentei aprender)*/
#hero {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background-color: var(--bg-primary);
    background-image:
        linear-gradient( to bottom, rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.1) 40%, rgba(10, 10, 10, 0.9)),
        url("Imagens/Carro Alemanha.png"); 
    background-size: cover;
    background-position: center center;
    padding-top: 80px;
}

#hero .container {
    position: relative; 
    z-index: 2; 
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(184, 174, 174, 0.756) 50%, rgba(255,255,255,0) 100%);
    transform: skewX(-25deg);
    mix-blend-mode: color-dodge;
    animation: flowWave 8s infinite linear;
    pointer-events: none;
    z-index: 1;
}

@keyframes flowWave {
    0% { left: -100%; }
    100% { left: 200%; }
}

.svg-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 140px;
    fill: transparent;
    stroke: var(--racing-yellow);
    stroke-width: 2px;
    letter-spacing: 5px;
}

span{
    color: var(--nurb-red);
}

/* CARDS E COMPONENTES */

.nav-card { 
    background-color: var(--nurb-red); 
    border-radius: 12px; 
    color: var(--text-light); 
    transition: 0.3s; 
    height: 100%; 
}

.nav-card:hover { 
    transform: translateY(-10px); 
}

.icon-card { 
    font-size: 2.5rem; 

}


.custom-accordion .accordion-button { 
    background-color: var(--bg-secondary); 
    color: white; 

}

.dark-input { 
    background-color: #1a1a1a; 
    border: 1px solid #333; 
    color: white; 
}

.btn-nurb-red {
     background-color: var(--racing-yellow); 
     color: white; 
    }

  



/* Teste grid curiosidades */ 

.layout-container {
    perspective: 1000px;
    padding: 20px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    gap: 20px;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.item.card-curiosidade {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #333;
    background: #000;
        transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.item.card-curiosidade img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.5;
    transition: 0.5s;
}

.item:hover img {
    opacity: 0.8;
    transform: scale(1.05);
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    background: linear-gradient(transparent, rgba(0,0,0,0.9));
    width: 100%;
}

.card-overlay p {
    font-size: 0.95rem;
    margin-bottom: 0;
    color: #ddd;
}

/* Configurações de Grid (Fluidez Visual) */
[data-grid="1"] .item:nth-child(1) { grid-column: 1; grid-row: 1 / 3; }
[data-grid="1"] .item:nth-child(2) { grid-column: 2; grid-row: 1; }
[data-grid="1"] .item:nth-child(3) { grid-column: 1; grid-row: 3; }
[data-grid="1"] .item:nth-child(4) { grid-column: 2; grid-row: 2 / 4; }

[data-grid="2"] .item:nth-child(1) { grid-column: 1 / 3; grid-row: 1; }
[data-grid="2"] .item:nth-child(2) { grid-column: 1; grid-row: 2 / 4; }
[data-grid="2"] .item:nth-child(3) { grid-column: 2; grid-row: 2; }
[data-grid="2"] .item:nth-child(4) { grid-column: 2; grid-row: 3; }

[data-grid="3"] .item:nth-child(4) { grid-column: 1; grid-row: 1; }
[data-grid="3"] .item:nth-child(3) { grid-column: 2; grid-row: 1 / 3; }
[data-grid="3"] .item:nth-child(2) { grid-column: 1; grid-row: 2 / 4; }
[data-grid="3"] .item:nth-child(1) { grid-column: 2; grid-row: 3; }

[data-grid="4"] .item:nth-child(1) { grid-column: 1; grid-row: 1 / 3; }
[data-grid="4"] .item:nth-child(2) { grid-column: 2; grid-row: 1 / 3; }
[data-grid="4"] .item:nth-child(3) { grid-column: 1; grid-row: 3; }
[data-grid="4"] .item:nth-child(4) { grid-column: 2; grid-row: 3; }


/* HORARIA teste -_- */

.honor-card {
    background: #111;
    border: 1px solid #222;
    border-radius: 20px;
    padding: 20px;
    padding-top: 120px; 
    position: relative;
    transition: all 0.4s ease;
    height: 100%;
    margin-top: 60px; 
}

.honor-img-container {
    position: absolute;
    top: -60px; 
    left: 50%;
    transform: translateX(-50%);
    width: 150px; 
    height: 150px;
    z-index: 5;
}

.honor-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #DD0000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    background-color: #000;
}


.honor-card:hover {
    transform: translateY(-10px);
    border-color: var(--racing-yellow);
}

.honor-body h4 {
    margin-top: 10px; 
    margin-bottom: 15px;
}

/* Atividades :)*/

#atividades {
    background-color: var(--bg-secondary);
}

.card-atividade {
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.card-atividade:hover {
    transform: translateY(-10px);
    border-color: var(--racing-yellow) !important;
    background-color: #222 !important;
}

.card-atividade:hover i {
    color: var(--text-light) !important;
    text-shadow: 0 0 10px var(--racing-yellow);
}

.ratio {
    border-radius: 12px;
    border: 2px solid var(--nurb-red);
    box-shadow: 0 0 20px rgba(221, 0, 0, 0.3);
}

.text-justify {
    text-align: justify;
}

.dark-input:focus {
    border-color: var(--nurb-red); 
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
    outline: none;
}

section {
    scroll-margin-top: 100px;
}

.dark-input:focus {
    border-color: var(--racing-yellow);
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
    outline: none;
}

.btn-contato {
    background-color: var(--bg-primary);
    color: var(--racing-yellow);
    border-radius: 5px;
    padding: 5px 15px;
}
